
// Config -----------------------------------
@syntax-hue:          230;
@syntax-saturation:    1%;
@syntax-brightness:   98%;


// Monochrome -----------------------------------
@mono-1: #383A42;
@mono-2: #696c77;
@mono-3: #a0a1a7;

// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter: darken(@syntax-bg, 36%);
@syntax-guide:  fade(@syntax-fg, 20%);
@syntax-accent: #F31459;

@syntax-keyword: #0098DD;
@syntax-string: #c5a332;
@syntax-string: #AD8E24;
@syntax-number: #ce33c0;
@syntax-operator: #7a82da;
@syntax-meta: #006962;
@syntax-method: #23974a;
@syntax-constant: #823ff1;
@syntax-param: #6d93bb;
@syntax-class: #d52039 ;
@syntax-field: #a05a48;
@syntax-attr: #df631c;
@syntax-tag: #275fe4;
@syntax-template: #27618d;
@syntax-todo: #74ad1c;
